@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root{
	--maincolor: orange;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: white;
}

.container{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-family: 'Comfortaa', cursive;
}

.header{
	width: 100%;
	padding: 10em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 3em;
	background-image: url(../img/header.jpg);
}

.header_blue{
	position: relative;
	left: 0;
	top: 0;
	background: lightblue;
	/*opacity: 0.7;*/
	width: 100%;
	height: 100%;
	z-index: 1;
}

.header > .h1{
	display: flex;
	z-index: 2;
	width: 75%;
	flex-direction: column;
	align-items: flex-start;
}

.header h1{
	margin-bottom: 1em;
	font-size: 3em;
	text-align: left;
	text-transform: uppercase;
}

.header span{
	font-size: 2em;
	background: var(--maincolor);
	padding: 1em;
	text-transform: uppercase;
}

.about{
	width: 100%;
	height: 750px;
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

.about .about_text{
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about_text div{
	background: var(--maincolor);
	padding: 3em;
	width: 250%;
	z-index: 2;
	transform: translateX(10%);
}

.about_text div h1{
	text-transform: uppercase;
	padding: 0 .5em .5em 0;
	text-align: left;
	font-size: 2.5em;
	margin-bottom: 0.2em;
	border-bottom: 5px white solid;
}

.about_text div p{
	padding-top: 0.5em;
	font-size: 1.5em;
	line-height: 1.2em;
}

.about .img{
	width: 80%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../img/programmer.jpg);
}

.services{
	width: 100%;
	display: flex;
	padding: 1em;
	align-items: center;
	margin-bottom: 1em;
}

.services .left{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.services .left h1{
	text-transform: uppercase;
	font-size: 3em;
	color: var(--maincolor);
	padding: 1em;
	border-bottom: 10px lightblue solid;
}

.services .right{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services .right .kind{
	width: 100%;
	height: 25%;
	display: flex;
	align-items: center;
	padding: 1em;
	padding-bottom: 1em;
}

.right .kind .text{
	width: 70%;
	display: flex;
	color: black;
	font-size: 1.2em;
	flex-direction: column;
	justify-content: center;
}

.kind .text p{
	font-style: bolder;
	color: var(--maincolor);
	font-size: 1.1em;
}

.right .kind .icon{
	padding: 1em;
}

.kind .icon img{
	width: 90px;
}

.team{
	width: 100%;
	padding: 5em;
	display: grid;
	grid-template: repeat(6, 1fr)  / 1fr 1fr; 
	color: white;
	background: var(--maincolor);
	margin: 1em 0 3em 0;
	align-items: center;
	justify-content: center;
	grid-column-gap: 10%;
}

.team_h1{
	display: flex;
	align-self: center;
	justify-content: center;
}

.team_h1 h1{
	padding-bottom: 0.7em;
	font-size: 3em;
	border-bottom: 5px lightblue solid;
}

.people{
	margin: 1em;
	padding: 2em 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.people_img{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1em;
}

.people_img img{
	width: 110px;
}

.people_info{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.people_info p{
	font-size: 1.2em;
}

.people_info .h1{
	font-size: 1.4em;
	transition: 0.5s;
	text-decoration: underline;
}

.people_info .h1:hover{
	text-decoration: none;
}

.footer{
	width: 100%;
	height: 700px;
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../img/footer.jpeg);
}

.footer .left{
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.footer .right{
	width: 10%;
	height: 100%;
	background: lightblue;
	padding: 2em;
	width: 30%;
}

.contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 55%;
	padding: 2em;
	background: var(--maincolor);
	transform: translateX(30%);
	z-index: 2;
}

.contact h1{
	font-size: 3em;
	text-align: right;
	width: 95%;
	padding-bottom: 0.5em;
	border-bottom: 5px white solid;
	margin-bottom: 0.5em;
}

.contact p{
	width: 95%;
	text-align: right;
	font-size: 1.2em;
	padding-bottom: 1em;
}

.contact .bold{
	font-style: bolder;
	font-size: 1.4em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

@media screen and (max-width: 700px){
	.header h1{
		font-size: 3.5em;
	}

	.header span{
		font-size: 2.5em;
	}	

	.services{
		flex-direction: column;
	}

	.team{
		grid-column-gap: 0;
	}

	.services .left, .services .right{
		width: 100%;
	}

	.header .h1{
		width: 85%;
	}

	.about_text div{
		width: 80vw;
	}

	.contact{
		width: 100%;
		transform: translateX(20%);
	}
}


@media screen and (max-width: 600px){
	.team{
		grid-template: repeat(12, 1fr) / 1fr;
	}

	.people{
		margin: 0;
	}
}
